body {
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

/* Estilo do Scroll Fino para todo o site */
* {
  /* Garantir que a barra de rolagem será aplicada para todos os elementos */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #888 #f1f1f1; /* Cor da barra de rolagem (thumb e track) no Firefox */
}

/* Estilo da barra de rolagem para navegadores baseados no WebKit (Chrome, Safari, Edge) */
*::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
  height: 8px; /* Para rolagem horizontal (se houver) */
}

*::-webkit-scrollbar-thumb {
  background-color: #888; /* Cor do botão da barra de rolagem */
  border-radius: 10px; /* Borda arredondada */
  border: 2px solid transparent; /* Borda para dar espaço */
  background-clip: content-box;
  transition: background-color 0.3s; /* Transição suave ao passar o mouse */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Cor do botão da barra de rolagem ao passar o mouse */
}

*::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Cor de fundo da pista de rolagem */
  border-radius: 10px; /* Borda arredondada */
}

*::-webkit-scrollbar-track:hover {
  background-color: #e0e0e0; /* Cor da pista de rolagem ao passar o mouse */
}


.PhoneInputInput {
  width: 100%;
  font-size: 1.2rem; /* Aumenta o tamanho da fonte */
  padding: 4px 8px; /* Aumenta o espaço interno */
  border: none; /* Remove borda padrão (opcional) */
  outline: none; /* Remove o foco padrão (opcional) */
  box-sizing: border-box; /* Garante que padding seja incluso no tamanho total */
}